# Ignore RMarkdown outputs
*.html
*.csv
*.png
*.pdf
*.docx

# knitr and R markdown default cache directories
/*_cache/
/cache/

# worldclim data
wc10/

# Exception to *.csv above - these are not regenerated automatically
!authors_from_google_sheets.csv
!igbp_abbreviations.csv

# Final documents
final/
