# Ignore RMarkdown outputs
*.html
*.csv
*.png
*.docx

# knitr and R markdown default cache directories
/*_cache/
/cache/

# worldclim data
wc10/

# Exception to *.csv above - this is not regenerated automatically
!authors_from_google_sheets.csv
